# Author: Sandeep Sharma <sanshar@gmail.com>
#         James Smith <james.smith9113@gmail.com>
#
# This file is an example to set the environment.
# The configs will be used in shciscf.py
#

import os

SHCIEXE = '/projects/jasm3285/Dice/Dice'
SHCISCRATCHDIR = "."
SHCIRUNTIMEDIR = '.'
MPIPREFIX = '' #'mpirun -np 2'  # change to srun for SLURM job system

